<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <title>Agenda</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://dulceduca.com/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://dulceduca.com/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://dulceduca.com/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://dulceduca.com/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://dulceduca.com/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://dulceduca.com/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://dulceduca.com/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://dulceduca.com/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dulceduca.com/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://dulceduca.com/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://dulceduca.com/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://dulceduca.com/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dulceduca.com/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="https://dulceduca.com/static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <!-- Opengraph -->
    <meta property="og:image" content="https://dulceduca.com/static/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- CSS -->
    <link href="/static/styles.css" rel="stylesheet">
    </head>
<body>

    <div id="mobile-menu" class="flex column">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav id="nav" class="flex column">

        <section class="logo flex center">
            <a href="/">
                <img src="/static/img/dulce-duca-logo-300x300.jpg">
            </a>
        </section>

        <section class="menu flex column">

            <div class="item">
                <a href="/">Home</a>
            </div>

            <div class="item">
                <a href="#" onclick="return false;">Shows</a>
                <div class="dropdown-container">
                    <div class="dropdown flex column">
                        <a href="/shows/sweet-drama" class="item">Sweet Drama</a>
                        <!-- <a href="/shows/an-extraordinary-day" class="item">Um Dia Extraordinário</a> -->
                        <a href="/shows/an-extraordinary-day" class="item">An Extraordinary Day</a>
                        <a href="/shows/um-belo-dia-outdoors" class="item">Um Belo Dia Outdoors</a>
                        <a href="/shows/just-full" class="item">Just Full</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <a href="#" onclick="return false;">Other productions</a>
                <div class="dropdown-container">
                    <div class="dropdown flex column">
                        <a href="/shows/fado-experience" class="item">Dulce Duca<br> FADO EXPERIENCE</a>
                        <!-- <a href="/shows/" class="item">Film Industry</a> -->
                        <a href="/shows/orquestra-malabares" class="item">Orquestra malabares</a>
                        <!-- <a href="/shows/" class="item">BBC Radio Norfolk</a> -->
                    </div>
                </div>
            </div>

            <div class="item">
                <a href="#" onclick="return false;">GALLERY</a>
                <div class="dropdown-container">
                    <div class="dropdown flex column">
                        <a href="/gallery/sweet-drama" class="item">Sweet Drama</a>
                        <a href="/gallery/an-extraordinary-day" class="item">An Extraordinary Day</a>
                        <a href="/gallery/um-belo-dia-outdoors" class="item">Um Belo Dia Outdoors</a>
                        <a href="/gallery/just-full" class="item">Just Full</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <a href="/agenda">Agenda</a>
            </div>

            <div class="item">
                <a href="/press">Press</a>
            </div>

            <div class="item">
                <a href="/contact">Contact</a>
            </div>

        </section>

        <section class="copyright">
            Copyright &copy; 2019 <span>Dulce Duca</span>
        </section>

    </nav>

    <main>
        <section class="container">
    <h1>Agenda</h1>
</section>

<section id="calender" class="container">

    <div v-for="product in items">
        <h5>{{ product.date }}</h5>
        <h2>{{ product.title }}</h2>
        <p v-if="product.desc != null">{{ product.desc }}</p>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
    el: '#calender',
    data: {
        items: [
            {
                "date": "26 & 27 January",
                "title": "Orquestra Malabares",
                "desc": "Gijon, ES"
            },
            {
                "date": "February",
                "title": "Featuring in the new film of Marco Martins",
                "desc": "Great Yarmouth, UK"
            },
            {
                "date": "07 Febuary",
                "title": "Orquestra Malabares",
                "desc": "Miranda de Ebro, ES"
            },
            {
                "date": "15 Febuary",
                "title": "Dulce Duca Fado Experience",
                "desc": "Great Yarmouth, UK"
            },
            {
                "date": "21 Febuary",
                "title": "Orquestra Malabares",
                "desc": "Palencia, ES"
            },
            {
                "date": "23 Febuary",
                "title": "Orquestra Malabares",
                "desc": "Laguna de Duero, ES"
            },
            {
                "date": "13 March",
                "title": "Orquestra Malabares",
                "desc": "Eira, ES"
            },
            {
                "date": "22 March",
                "title": "Orquestra Malabares",
                "desc": "Teatro Circo Murcia, ES"
            },
            {
                "date": "27 March",
                "title": "Orquestra Malabares",
                "desc": "Feria Circo Gandia, ES"
            },
            {
                "date": "29 March",
                "title": "Orquestra Malabares",
                "desc": "Sevilla, ES"
            },
            {
                "date": "18 April",
                "title": "Orquestra Malabares",
                "desc": "Altsasua, ES"
            },
            {
                "date": "03 May",
                "title": "Orquestra Malabares",
                "desc": "Medina de Campo, ES"
            },
            {
                "date": "08 May",
                "title": "Orquestra Malabares",
                "desc": "Fit al Carrer Vilareal, ES"
            },
            {
                "date": "15 May",
                "title": "Orquestra Malabares",
                "desc": "Mislata, ES"
            },
            {
                "date": "22 & 23 May",
                "title": "Orquestra Malabares",
                "desc": "Tac Valladolid, ES"
            },
            {
                "date": "29 May",
                "title": "Orquestra Malabares",
                "desc": "Soria, ES"
            },
            {
                "date": "31 May",
                "title": "UM BELO DIA",
                "desc": "Netherland"
            },
            {
                "date": "12 June",
                "title": "Orquestra Malabares",
                "desc": "Victoria, ES"
            },
            {
                "date": "27 June",
                "title": "Orquestra Malabares",
                "desc": "Meano, ES"
            },
            {
                "date": "10 July",
                "title": "Orquestra Malabares",
                "desc": "Benicarlo, ES"
            },
            {
                "date": "26 July",
                "title": "Sweet Drama",
                "desc": "Vaudeville Rendez Vous, PT"
            },
            {
                "date": "30 & 31 July",
                "title": "UM BELO DIA",
                "desc": "OLALA Festival, Austria"
            },
            {
                "date": "31 August",
                "title": "Orquestra Malabares",
                "desc": "Vilalba, ES"
            },
            {
                "date": "10 September",
                "title": "Orquestra Malabares",
                "desc": "Arangada del rey, ES"
            },
            {
                "date": "17 October",
                "title": "Orquestra Malabares",
                "desc": "Circarte, ES"
            },
            {
                "date": "24 & 25 October",
                "title": "Orquestra Malabares",
                "desc": "Festival Cornella, ES"
            },
            {
                "date": "13 November",
                "title": "Orquestra Malabares",
                "desc": "Albobendas, ES"
            }
        ]
    }
});
</script>
    </main>

    <section id="modal-bg"></section>

    <script src="/static/script.js"></script>
    
</body>
</html>