@import url(partial/_reset.css);
:root {
  --font-title: Oswald, sans-serif;
  --font-content: Proxima Nova, sans-serif;
  --nav-width: 14vw;
  --grey: #D0D0D0;
  --light-grey: #F8F8F8;
  --white: #FFFFFF;
  --black: #000000; }

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  margin: 0;
  background-color: #F6F6F6;
  font-family: var(--font-content, "Proxima Nova", sans-serif); }

img {
  display: block;
  max-width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

#modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black, #000000);
  opacity: 0;
  pointer-events: none;
  z-index: 49; }
  #modal-bg.active {
    opacity: 0.5;
    pointer-events: all; }

nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: var(--nav-width, 14vw);
  background-color: var(--white, #FFFFFF);
  border-right: 1px solid var(--grey, #D0D0D0);
  z-index: 1; }
  @media (max-width: 1260px) {
    nav {
      width: 75vw;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 99;
      -webkit-transition: 240ms ease;
      -o-transition: 240ms ease;
      transition: 240ms ease; } }
  nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

nav .logo {
  padding: 2.5vh 0; }
  nav .logo img {
    margin: 0 auto; }
  @media (min-width: 781px) {
    nav .logo img {
      max-width: calc(var(--nav-width, 14vw) / 2.5); } }
  @media (max-width: 780px) {
    nav .logo img {
      max-width: 50%; } }

nav .menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  nav .menu .item {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid var(--grey, #D0D0D0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    text-transform: uppercase;
    overflow-wrap: break-word; }
    nav .menu .item a {
      width: 100%;
      padding: 3vh;
      text-decoration: none;
      color: var(--black, #000000);
      letter-spacing: 0.250rem;
      font-weight: 600;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      nav .menu .item a:hover, nav .menu .item a:focus-within {
        background-color: var(--grey, #D0D0D0); }
    nav .menu .item:last-of-type {
      border-bottom: 1px solid var(--grey, #D0D0D0); }
  @media (min-width: 1261px) {
    nav .menu {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      nav .menu .item .dropdown-container {
        position: absolute;
        top: 0;
        left: var(--nav-width, 14vw);
        width: calc(var(--nav-width, 14vw) * 1.5);
        height: 300vh;
        overflow-x: hidden;
        pointer-events: none;
        margin-top: -1px;
        margin-top: -75vh; }
        nav .menu .item .dropdown-container:after {
          height: 400vh;
          background-color: var(--white, #FFFFFF);
          left: 0;
          position: fixed;
          content: "";
          z-index: -1;
          margin-top: -50vh;
          -webkit-transition: 240ms ease;
          -o-transition: 240ms ease;
          transition: 240ms ease; }
        nav .menu .item .dropdown-container .item {
          overflow: hidden; }
        nav .menu .item .dropdown-container .dropdown {
          background-color: var(--white, #FFFFFF);
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          transform: translateX(-100%);
          -webkit-transition: 80ms ease;
          -o-transition: 80ms ease;
          transition: 80ms ease;
          margin-top: calc(75vh - 1px); }
      nav .menu .item:hover .dropdown-container, nav .menu .item:focus-within .dropdown-container {
        pointer-events: all; }
        nav .menu .item:hover .dropdown-container:after, nav .menu .item:focus-within .dropdown-container:after {
          width: calc(var(--nav-width, 14vw) * 1.5);
          -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
          transform: translateX(100%);
          left: -7vw; }
      nav .menu .item:hover .dropdown, nav .menu .item:focus-within .dropdown {
        -webkit-transition: 240ms ease;
        -o-transition: 240ms ease;
        transition: 240ms ease;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
  @media (max-width: 1260px) {
    nav .menu .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    nav .menu .item .dropdown-container {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: 360ms ease;
      -o-transition: 360ms ease;
      transition: 360ms ease;
      background-color: var(--light-grey, #F8F8F8); }
    nav .menu .item:hover .dropdown-container, nav .menu .item:focus-within .dropdown-container {
      -webkit-transition: 360ms ease;
      -o-transition: 360ms ease;
      transition: 360ms ease;
      max-height: 400px; }
    nav .menu .item .dropdown .item:last-of-type {
      border-bottom: 0; } }

nav .copyright {
  padding-bottom: 5vh;
  text-align: center;
  opacity: 0.5; }
  nav .copyright span {
    display: block; }

#mobile-menu {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  top: 5vh;
  left: 0;
  background-color: var(--color-white, #FFFFFF);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-transition: 240ms ease;
  -o-transition: 240ms ease;
  transition: 240ms ease; }
  #mobile-menu.invert {
    background-color: var(--black, #000000); }
    #mobile-menu.invert > div {
      background-color: var(--color-white, #FFFFFF); }
  #mobile-menu.active {
    background-color: blue; }
  #mobile-menu > div {
    width: 100%;
    height: 0.25rem;
    background-color: var(--black, #000000); }

@media (min-width: 1261px) {
  main {
    margin-left: var(--nav-width, 14vw); } }

@media (min-width: 1261px) {
  main > section {
    margin-bottom: 10vh; }
    main > section:first-of-type:not(.full-img):not(.inline-img) {
      margin-top: 5vh; } }

@media (max-width: 1260px) {
  main > section:not(.content) {
    margin-bottom: 5vh; }
  main > section:first-of-type:not(.full-img):not(.inline-img) {
    margin-top: 5vh; }
  main > section:not(.full-img):not(.inline-img) {
    margin-left: calc(4rem + 2.5vw); } }

main > section.content h1 {
  margin-bottom: 0.5rem; }

main > section.content h1 + h5 {
  margin-bottom: 1rem; }

main > section.content h1 + p,
main > section.content h1 + h5 + p {
  margin-bottom: 2rem; }

main > section.content p > span {
  font-weight: bold; }

main > section.inline-img img {
  width: 100%; }

main > section.content + .content,
main > section.content + .sponsors {
  margin-top: 5vh; }

@media (min-width: 1261px) {
  main > section.content + .full-img,
  main > section.content + .inline-img,
  main > section.content + .grid-img,
  main > section.content + .video {
    margin-top: 10vh; } }

@media (max-width: 1260px) {
  main > section.content + .full-img,
  main > section.content + .inline-img,
  main > section.content + .grid-img,
  main > section.content + .video {
    margin-top: 5vh; } }

main > section.full-img {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background-size: cover;
  background-position: center; }

.grid-img {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5vh; }
  .grid-img div {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center; }
    @media (min-width: 781px) {
      .grid-img div {
        height: 60vh; } }
  .grid-img img {
    width: 100%; }
  @media (min-width: 781px) {
    .grid-img.type-t {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); }
      .grid-img.type-t div:first-of-type {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/span 2;
        -ms-grid-row: 1;
        grid-row: 1; }
      .grid-img.type-t div:nth-of-type(2) {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2; }
      .grid-img.type-t div:last-of-type {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2; } }
  @media (max-width: 780px) {
    .grid-img.type-t {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 781px) {
    .grid-img.type-e {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); }
      .grid-img.type-e div:first-of-type {
        height: 100%;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/span 2; }
      .grid-img.type-e div:nth-of-type(2) {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1; }
      .grid-img.type-e div:last-of-type {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2; } }
  @media (max-width: 780px) {
    .grid-img.type-e {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); }
      .grid-img.type-e div:first-of-type {
        height: 100%; } }
  @media (min-width: 781px) {
    .grid-img.type-h {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); }
      .grid-img.type-h div:first-of-type {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/span 2; }
      .grid-img.type-h div:last-of-type {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/span 2; } }
  @media (max-width: 780px) {
    .grid-img.type-h {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); }
      .grid-img.type-h div {
        height: 100%; } }
  .grid-img.two.horizontal {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
    .grid-img.two.horizontal div {
      -ms-grid-column: 1;
      grid-column: 1; }

main > section.content .language {
  display: -ms-grid;
  display: grid; }
  @media (min-width: 1261px) {
    main > section.content .language + p {
      margin-top: 5vh; } }
  @media (max-width: 1260px) {
    main > section.content .language + p {
      margin-top: 2.5vh; } }
  main > section.content .language .english a {
    color: #121212;
    border-bottom-color: #121212; }
  main > section.content .language .espanol {
    color: #a2a2a2; }
    main > section.content .language .espanol a {
      color: #6e6e6e;
      border-bottom-color: #6e6e6e; }
  @media (min-width: 781px) {
    main > section.content .language {
      grid-gap: 2.5vh;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 1260px) {
    main > section.content .language {
      grid-gap: 2.5vh;
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); } }

.grid-img > div {
  position: relative;
  overflow: hidden; }
  @media (min-width: 781px) {
    .grid-img > div img,
    .grid-img > div picture,
    .grid-img > div picture > img {
      min-height: calc(100% + 0.5rem);
      width: calc(100% + 0.5rem);
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5vw; }

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: var(--font-titlem, "Oswald", sans-serif);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1; }

h1, h2, h3, h4 {
  margin-bottom: 2rem; }

h1, .h1 {
  font-size: 3.5rem; }

h2, .h2 {
  font-size: 3rem; }

h3, .h3 {
  font-size: 2.5rem; }

h4, .h4 {
  font-size: 2rem; }

h5, .h5 {
  opacity: 0.5;
  font-size: 1.5rem; }

p {
  font-size: 1.125rem;
  line-height: 1.4; }

p:not(:last-of-type) {
  margin-bottom: 1rem; }

p a {
  color: #731092;
  border-bottom: 3px solid #731092;
  text-decoration: none; }

strong {
  font-weight: bold; }

#gallery {
  -webkit-column-gap: 2.5vw;
  column-gap: 2.5vw; }
  @media (min-width: 1261px) {
    #gallery {
      -webkit-column-count: 3;
      column-count: 3;
      margin-bottom: 10vh; } }
  @media (max-width: 1260px) {
    #gallery {
      -webkit-column-count: 2;
      column-count: 2;
      margin-bottom: 5vh; } }
  @media (max-width: 780px) {
    #gallery {
      -webkit-column-count: 1;
      column-count: 1; } }
  #gallery .item {
    cursor: pointer; }
  #gallery img {
    margin-bottom: 1.5rem;
    width: 100%; }

#press div blockquote {
  margin-bottom: 2.5vw; }

@media (min-width: 781px) {
  #press div {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2.5vw;
    column-gap: 2.5vw; } }

@media (max-width: 780px) {
  #press div {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    column-gap: 0; } }

@media (min-width: 1261px) {
  #press .float-left {
    margin-right: 5vh; } }

@media (max-width: 1260px) {
  #press .float-left {
    margin-right: 2.5vh; } }

@media (min-width: 1261px) {
  #press .float-right {
    margin-left: 5vh; } }

@media (max-width: 1260px) {
  #press .float-right {
    margin-right: 2.5vh; } }

figure {
  display: block; }
  figure figcaption {
    border-style: solid;
    border-top-width: 1px;
    text-align: center;
    padding: 2.5vh; }
  @media (min-width: 1261px) {
    figure {
      margin-top: 5vh;
      margin-bottom: 5vh; } }
  @media (max-width: 1260px) {
    figure {
      margin-top: 2.5vh;
      margin-bottom: 2.5vh; } }
  figure:first-of-type {
    margin-top: 0; }

figcaption.white {
  background-color: var(--white, #FFFFFF);
  border-top-color: var(--grey, #D0D0D0); }

figcaption.purple {
  background-color: #8792d0;
  border-top-color: #8792d0; }

figcaption.cream {
  background-color: #bdc2be;
  border-top-color: #bdc2be; }

@media (min-width: 781px) {
  figure.lg {
    width: 50%; } }

@media (max-width: 780px) {
  figure.lg {
    width: 100%; } }

@media (min-width: 781px) {
  figure.sm {
    width: 33.333333333%; } }

@media (max-width: 780px) {
  figure.sm {
    width: 50%; } }

blockquote {
  position: relative;
  background-color: var(--white, #FFFFFF); }
  @media (min-width: 1261px) {
    blockquote {
      padding: 5vh; } }
  @media (max-width: 1260px) {
    blockquote {
      padding: 2.5vh; } }
  blockquote footer {
    font-family: serif;
    font-style: italic;
    color: var(--black, #000000);
    margin-top: 2.5vh; }
    blockquote footer a {
      color: inherit; }
  blockquote p {
    position: relative; }

.sponsors:not(:last-of-type):not(+ section:not(.sponsors)) {
  margin-bottom: 0; }

.sponsors .flex.row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sponsors .flex.row img {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-height: 8rem; }
    .sponsors .flex.row img.light-black {
      background-color: #161616; }
    .sponsors .flex.row img.black {
      background-color: #000000; }

.video video, .video iframe {
  width: 100%; }

@media (min-width: 1261px) {
  .video iframe {
    min-height: 675px; } }

@media (max-width: 1260px) {
  .video iframe {
    min-height: 400px; } }

label {
  display: block;
  margin-bottom: 0.5rem; }

input, textarea, select {
  padding: 0.75rem;
  border: 1px solid var(--grey, #D0D0D0);
  width: 100%; }

input[type="submit"] {
  border-color: var(--black, #000000);
  background-color: var(--black, #000000);
  color: var(--white, #FFFFFF); }

form > div:not(:last-of-type) {
  margin-bottom: 2rem; }

#contact form div {
  width: 100%;
  display: block;
  margin-bottom: 2rem; }

#contact form button[type="submit"] {
  font-family: var(--font-content, "Proxima Nova", sans-serif); }

#social {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem; }
  #social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--black, #000000);
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    #social a > svg {
      max-width: 1.5rem;
      max-height: 1.5rem;
      margin-right: 0.5rem; }

a > svg {
  max-width: 1rem;
  max-height: 1rem;
  fill: var(--black, #000000);
  margin-right: 0.25rem; }

#agenda .year {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr; }

#agenda .content {
  padding-top: 3.5rem; }
  #agenda .content .item:not(:last-of-type) {
    margin-bottom: 4rem; }

#agenda .year .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #agenda .year .side span {
    margin-bottom: 1rem; }
  #agenda .year .side .line {
    height: 100%;
    width: 2px;
    background-color: var(--grey, #D0D0D0); }

.button {
  padding: 1.25rem 2rem;
  background-color: var(--black, #000000);
  color: var(--white, #FFFFFF);
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem; }
  .button[href$=".pdf"]:before {
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url(img/pdf.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem; }

#calender {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5vh;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 1400px) {
    #calender {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 1260px) {
    #calender {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 780px) {
    #calender {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); } }
  #calender h2 {
    font-size: 2.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  #calender h5 {
    font-size: 1.5rem;
    margin-bottom: 0; }
  #calender p {
    line-height: 1.2;
    max-height: 0;
    -webkit-transition: 240ms ease;
    -o-transition: 240ms ease;
    transition: 240ms ease;
    overflow: hidden;
    opacity: 0.5; }
  #calender > div:hover p {
    max-height: 500px; }
  #calender > div {
    text-align: left;
    border-color: var(--grey, #D0D0D0);
    border-style: solid;
    border-width: 1px;
    padding: 2.5vw;
    -webkit-transition: 240ms ease;
    -o-transition: 240ms ease;
    transition: 240ms ease; }
    #calender > div:hover {
      background-color: var(--black, #000000); }
      #calender > div:hover h2, #calender > div:hover h5 {
        color: var(--white, #FFFFFF); }
